@import "tailwindcss";

.form-container {
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #1f1f1f;
  }
}

input,
select,
textarea {
  border: 1px solid #d1d1d1;
  padding: 10px 16px;
  border-radius: 8px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #47a0ff;
}

input.invalid,
select.invalid,
textarea.invalid {
  border-color: #ff6363 !important;
}

.bg-header-patient {
  background: linear-gradient(
    306deg,
    rgba(82, 168, 128, 1) 0%,
    rgba(37, 99, 235, 1) 100%
  );
}

.bg-header-staff {
  background: linear-gradient(
    306deg,
    rgba(37, 99, 235, 1) 0%,
    rgba(3, 29, 77, 1) 100%
  );
}
